In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [2]:
cust = pd.read_csv(r"G:\Amex\Amex\train_AUpWtIz/campaign_data.csv")

In [3]:
cust.head()

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [5]:
cust.dtypes

campaign_id       int64
campaign_type    object
start_date       object
end_date         object
dtype: object

In [6]:
cus=cust

In [7]:
le = preprocessing.LabelEncoder()
le.fit(cus.loc[:,'campaign_type'].values)
cus.loc[:,'campaign_type']=le.transform(cus.loc[:,'campaign_type'])
cus.head()

   campaign_id  campaign_type start_date  end_date
0           24              1   21/10/13  20/12/13
1           25              1   21/10/13  22/11/13
2           20              1   07/09/13  16/11/13
3           23              1   08/10/13  15/11/13
4           21              1   16/09/13  18/10/13

In [9]:
cus['start_date']= pd.to_datetime(cus['start_date'])
cus['end_date']= pd.to_datetime(cus['end_date'])

In [10]:
cus.dtypes

campaign_id               int64
campaign_type             int64
start_date       datetime64[ns]
end_date         datetime64[ns]
dtype: object

In [11]:
cus.to_csv('campaign_data1.csv',index=False)