In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [2]:
cust = pd.read_csv(r"G:\Amex\Amex\train_AUpWtIz/item_data.csv")

In [3]:
cust.head()

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [6]:
cust.dtypes

item_id       int64
brand         int64
brand_type    int64
category      int64
dtype: object

In [5]:
cus=cust
le = preprocessing.LabelEncoder()
le.fit(cus.loc[:,'brand_type'].values)
cus.loc[:,'brand_type']=le.transform(cus.loc[:,'brand_type'])
le.fit(cus.loc[:,'category'].values)
cus.loc[:,'category']=le.transform(cus.loc[:,'category'])
cus.head()

   item_id  brand  brand_type  category
0        1      1           0         6
1        2      1           0         8
2        3     56           1         1
3        4     56           1         6
4        5     56           1         6

In [7]:
cus.to_csv('item_data1.csv',index=False)